.delivery-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.addressFormContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px 50px;
}

.addAddress {
    font-weight: bold;
    color: #202f4e;
    font-size: 20px;
    transition: all 0.3s ease;
}

.addAddress:hover {
    color: #e6b800;
    cursor: pointer;
}

.del-footer {
    width: 100%;
}

.payment-btn {
    align-self: center;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #e6b800;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
    height: 60px;
}

.payment-btn:hover {
    background-color: #eeeec3;
    cursor: pointer;
}
