:root {
    scroll-behavior: smooth;
}

.order-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: 100vh;
}

.del-header {
    text-align: center;
    font-size: 28px;
    font-weight: lighter;
    background-color: #202f4e;
    color: #fff;
    padding: 20px 0;
}

.del-header .icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
}

.summary-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
}

.cart-items {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selected-address {
    width: 35%;
    padding: 20px;
}

.cart-card {
    display: flex;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.img-container {
    flex: 1;
    max-width: 100px;
}

.img-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.dets-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderTotal {
    display: flex;
    font-size: 1.2em;
    margin-top: 20px;
}

.paynow {
    align-self: center;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #e6b800;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
    height: 60px;
}

.paynow:hover {
    background-color: #eeeec3;
    cursor: pointer;
}

.os-footer {
    width: 100%;
}

