.registrationForm {
    width: fit-content;
    padding: 50px;
    background-image: linear-gradient(135deg, #202f4e, #eeeec3);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.registrationForm h1 {
    margin-bottom: 20px;
}

.registrationForm,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrationForm input {
    margin: 5px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;

    font-size: 1.05rem;
}

.regn-btn {
    margin-top: 10px;
    padding: 10px 20px;
    width: 200px;
    height: 50px;
    background-color: #e6b800;
    color: #fff;
    font-size: 1.05rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.regn-btn:hover {
    background-color: #eeeec3;
    color: black;
}